VITE_SUPABASE_URL=https://kukirrwpdmqvaojhfdng.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt1a2lycndwZG1xdmFvamhmZG5nIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIxMDc0OTIsImV4cCI6MjA4NzY4MzQ5Mn0.sLqsL8Hf_DO7V4UVgih9Xxfp7IDD975e45RGD9bMd6A
